<h1>Browse Classes and Plan</h1>
<p>

  <%= label '', 'Select a course' %>
  <%= select :title, '', @courses.collect { |c| [c.display_name, c.id] }.insert(0, '') %>
  <%=button_tag 'Add to planner' %>
  
</p>
